<h1 class="mt-4">Ciclos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ ciclo.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #cicloForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Ciclo salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div class="row" *ngIf="ciclo.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID *: </label>
                    <input type="text" class="form-control"
                           [ngModel]="ciclo.id" name="id" disabled="true" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de Cadastro *: </label>
                    <input type="text" class="form-control" name="registration_date"
                           [ngModel]="ciclo.registration_date" disabled="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Peso *: </label>
                    <input type="text" class="form-control"
                           [(ngModel)]="ciclo.peso" name="peso" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Quantidade *: </label>
                    <input type="text" class="form-control"
                           [(ngModel)]="ciclo.quantidade" name="quantidade" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Raça *: </label>
                    <input type="text" class="form-control"
                           [(ngModel)]="ciclo.raca" name="raca" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!ciclo.id">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="ciclo.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-3" (click)="voltarConsulta()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>